.profilePicture {
  width: 400px;
  height: 400px;
  border-radius: 200px;
  border: 2px solid #e1e4e8;
  background-image: url("Profile.jpg");
  background-position: center;
  background-repeat: no-repeat;
}